<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @url.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user.email %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @url.expired_at %>
</p>


<p>
  <strong>Share This URL:</strong>
  <%= social_share_button_tag(@url.title) %>

</p>



<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
